altgraph==0.17.4
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
colorthief==0.2.1
darkdetect==0.8.0
Eel==0.16.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.6
importlib_metadata==7.0.2
Jinja2==3.1.4
lxml==5.1.0
MarkupSafe==2.1.5
numpy==1.24.4
packaging==23.2
pdf2image==1.17.0
pefile==2023.2.7
pillow==10.2.0
prettytable==3.10.0
pycparser==2.21
pyecharts==2.0.5
pyparsing==3.1.2
PyPDF2==3.0.1
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
PySide6-Fluent-Widgets==1.5.6
PySideSix-Frameless-Window==0.3.6
pywin32==306
pywin32-ctypes==0.2.2
reportlab==4.2.0
requests==2.31.0
scipy==1.10.1
shiboken6==6.4.2
simplejson==3.19.2
typing_extensions==4.10.0
urllib3==2.2.1
wcwidth==0.2.13
whichcraft==0.6.1
zipp==3.17.0
zope.event==5.0
zope.interface==6.2
